<section class="wrapper">
  <div class="container-fostrap">
    <div class="content">
      <div class="container">
        <!-- *ngIf="rewards$ | async as rewards; else noRewards" -->
        <div  class="row justify-content-center">
          <div class="col-xs-12 col-sm-3" *ngFor="let reward of rewards$ | async"
            [class.selected]="reward.id === selectedId.toString()">
            <div class="card">
              <div class="card-content">
                <h4 class="card-title">
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="col-3 rect-title">{{ reward.totalDrawNumber }}</div>
                      <div class="col-9 info"> {{ reward.name }}:<br>
                        <p>{{formatNumber(reward.price)}}đ</p>
                      </div>
                    </div>
                  </div>
                </h4>
                <a class="img-card" href="">
                  <img src="{{ reward.imageUrl }}" />
                </a>
                <table *ngIf="checkMemberReward(reward.id)" class="table">
                  <thead class="thead-dark">
                    <tr>
                      <!-- <th scope="col"> Mã số</th> -->
                      <th scope="col" class="text-center"> Chủ nhân giải thưởng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let member of getMemebers(reward.id)">
                      <!-- <td scope="row" >{{member.id}}</td> -->
                      <td scope="row" class="text-center">{{member.name}}</td>
                    </tr>
                  </tbody>
                </table>
                <p *ngIf="!checkMemberReward(reward.id)">Chưa có chủ nhân</p>
              </div>
              <div class="card-read-more">
                <a class="btn btn-link btn-block" (click)="onClickRewards(reward)"
                  *ngIf="reward.totalDrawNumber - countMemberReward(reward.id) >0">
                  Vòng quay may mắn (còn {{reward.totalDrawNumber -countMemberReward(reward.id)}} lượt)
                </a>
                <a class="btn btn-link btn-block disabled"
                  *ngIf="reward.totalDrawNumber - countMemberReward(reward.id) == 0">
                  Vòng quay may mắn (còn 0 lượt)
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- <ng-template #noRewards>
          <p>Không có dữ liệu nào được tìm thấy.</p>
          <button type="button" class="btn btn-outline-info btn-custom" (click)="goToManager()">Quản lý Rewards</button>
        </ng-template> -->
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-md-4"> <button class="btn btn-outline-secondary btn-block"
       (click)="goBack()">Trở về xem danh sách Tham gia</button>
    </div>
    <div class="col-md-4"> </div>
    <div class="col-md-4"> <button class="btn btn-outline-secondary btn-block"
      (click)="goToManager()">Quản lý danh sách Giải thưởng</button>
   </div>
  </div>

</div>